@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;1,100;1,200&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// font-family: 'Bebas Neue', sans-serif; header
// font-family: 'Fira Sans', sans-serif; cuerpo
// font-family: 'Lora', serif; nav y footer

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* formato general del texto  y fuentes*/
body {
    // font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 128, 0, 0.342), rgba(255, 255, 0, 0.37));
    background-size: cover;
    background-position: center;
}


/* formato del header ---------------------------------------------------------------------------------*/
.header {
    padding: 80px;
    text-align: center;
    // background: rgba(102, 113, 111, 0.643);
    background-image: url(../multimedia/perolentes.jpg);
    background-position: center;
    background-size: cover;
}

.header{
    height: 200px;
    // width: 400px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

#bienvenida:hover{
    height: 400px;
    transition: height 2s;
}

// formato texto
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    color: #fafafa;
    text-shadow: 0 0 5px #000;
    text-align: left;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header p {
    font-size: 20px;
    color: #080000;
    text-shadow: 0 0 5pxrgb(253, 253, 253)0;
    text-align: left;
}

h2 {
    text-align: center;
    background-color: #53757336;
    color: #fff;
    text-shadow: 0 0 5px #000000;
    padding: 5px;
}


// formato nav bar
.topnav {
    overflow: hidden;
    background-color: #a35a3540;
}

/* estilos de los link de la barra de menú */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-shadow: 0 0 5px black;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

/* estilo del fondo de la barra de menus */
.topnav a:hover {
    background-color: rgba(240, 138, 13, 0.121);
    color: rgba(0, 0, 0, 0.523);
    text-shadow: 0 0 2px black;
}



// /* formato de pag inicio usando disply grids */
.inicio {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(4, 200px);
    padding: 10px;
    grid-gap: 10px
}

// /* formato general de cada seccion inicio */
.caja {
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 30px;
}

.caja3 h4 {
    background-color: #208b676a;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    text-shadow: 0 0 5px #0a0a0a;
}

.caja3 h5 {
    background-color: transparent;
    margin: 5px;
    padding: 5px;
    color: #060606;
    font-size: medium;
}

@media screen and (max-width: 40px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* Generando resposividad de la pagina de servicios */
@media only screen and (min-width:480px) {
    .inicio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .caja1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .caja2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .caja3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}




// inicia formato servicios---------------------------------------------------------------------------------------------------------------



// /* formato de la galeria de servicios usando disply grids */
.galeria {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(4, 200px);
    padding: 10px;
    grid-gap: 10px
}

// /* formato general de cada seccion item */
.item {
    border: 3px solid rgba(90, 89, 89, 0.74);
    background-color: #53757381;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 30px;
}

@media screen and (max-width: 40px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* Generando resposividad de la pagina de servicios */
@media only screen and (min-width:480px) {
    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}

@media only screen and (min-width:768px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .item1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .item2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .item3 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .item4 {
        grid-column: 1/4;
        grid-row: 4/5;
    }
}




// inicia formato eventos------------------------------------------------------------------------------------------------------------------



// /* formato de la galeria de servicios usando disply grids */
.eventos {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(3, auto);
    padding: 5px;
    grid-gap: 10px
}

// /* formato general de cada seccion item */
.box {
    // padding: 5px;
    border: 1px solid rgba(83, 81, 80, 0.74);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
}

// /* enlaces de cada imagen de galeria de servicios */
.box1 {
    background-image: url(../multimedia/evento5.jpg);
}

.box2 {
    background-image: url(../multimedia/evento3.jpg);
}

.box3 {
    background-image: url(../multimedia/evento8.jpg);
}

/* Generando resposividad de la pagina de servicios */
@media only screen and (min-width:480px) {
    .eventos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}




// inicia pagina contacto-------------------------------------------------------------------------------------------




/* formato de la galeria de servicios usando disply grids */
.contacto {
    // height: auto;
    padding: none;
    grid-gap: 200px
}

/* formato general de cada seccion item */
.boxc {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

form {
    width: 100%;
    // height: 100vh; si lo pongo me saca el conenido de la caja borrar al final 
    background-color: rgb(0, 128, 47);
    background-image: linear-gradient(rgba(68, 120, 68, 0.506), rgba(163, 163, 69, 0.458)), url(../../multimedia/carrusel1.jpg);
    background-position: center;
    background-size: cover;
    padding: 25px;
}

form input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
}

form input::placeholder {
    color: rgb(250, 250, 248);
    text-shadow: 0 0 3px #000;

}

form textarea {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
}

form textarea::placeholder {
    color: rgb(251, 251, 251);
}

form #enviar {
    width: 45%;
    background-color: #a35a3559;
    font-size: 25px;
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.206);
    padding: 10px;
}

@media screen and (max-width: 40px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

// /* Generando resposividad de la pagina de servicios */
@media only screen and (min-width:320px) {
    .contacto {
        grid-template-columns: 1fr;
        grid-template-rows: (1fr, 200px);
    }

    .boxc1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}




// inicia seccion blogs-------------------------------------------------------------------------------------------------


// /* formato de la galeria de servicios usando disply grids */
.blog {
    padding: 10px;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(3, auto);
    grid-gap: 5px;
}

// /* formato general de cada seccion item */
.boxb h2 {
    background-color: rgba(0, 0, 0, 0.575);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #000;
    transition: all 0.9s;
}

.boxb p {
    // background-color: rgba(90, 89, 89, 0.375);
    background-position: center;
    text-align: left;
    color: #000000;
    text-shadow: 0 0 3px #fefdfd6b;
    transition: all 0.9s;
}

// /* enlaces de cada imagen de galeria de servicios */
a {
    background-position: center;
}

@media screen and (max-width: 40px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* Generando resposividad de la pagina de servicios */
@media only screen and (min-width:768px) {
    .blog {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .boxb1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .boxb2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .boxb3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

/* formato del footer ----------------------------------------------------------------------------------------------*/

#logo{
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    text-align: center;
    line-height: 100px;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes efecto{
    0%{
        border-radius: 0%;
        opacity: 0;
    }
    50%{
        border-radius: 30px;
        transform: translatex(200px);
        background-color: rgb(0, 2, 2);
        opacity: 1;
    }
    100%{
        border-radius: 75px;
        transform: translate(50px,15px) rotate(360deg) scale(1.5);
    }
}



.foo,h5 {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.18);
    text-shadow: 0 0 3px #000;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #f2f2f2;
}

h5 {
    background-color: #a35a3540;
    margin-right: 30px;
    margin-left: 30px;
}