@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;1,100;1,200&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

/* formato del header --------------*/
h1 {
  padding-top: 10px;
  margin-left: 50px;
}

.transition {
  height: 200px;
  width: auto;
  background-image: url(../../multimedia/header.jpg);
  background-position: top;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-family: sans-serif;
}

#t1 {
  transition: height 2.7s;
}

#t1:hover {
  height: 600px;
}

header p {
  margin-left: 40px;
  font-size: 20px;
  color: #f8f2f2;
  text-shadow: 0 0 5pxrgb 253, 253, 253 0;
  text-align: left;
}

/* formato general del texto  y fuentes*/
body {
  padding: 10px;
  background-image: linear-gradient(rgba(0, 128, 0, 0.342), rgba(255, 255, 0, 0.37));
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  color: #fafafa;
  text-shadow: 0 0 5px #000;
  text-align: left;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h2 {
  text-align: center;
  background-color: rgba(83, 117, 115, 0.2117647059);
  color: #fff;
  text-shadow: 0 0 5px #000000;
  padding: 5px;
}

footer {
  margin-top: 5px;
}

.foo, h5 {
  padding: 20px;
  background-color: rgba(0, 6, 4, 0.905);
  text-shadow: 0 0 3px #000;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: #f2f2f2;
}

h5 {
  background-color: transparent;
  margin-right: 30px;
  margin-left: 30px;
}

.foo a {
  letter-spacing: 15px;
  font-size: 30px;
}

#logo {
  margin: 10px;
  padding: 30px;
  width: 150px;
  height: 150px;
  background-color: transparent;
  text-align: center;
  line-height: 100px;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes efecto {
  0% {
    border-radius: 0%;
    opacity: 0;
  }
  50% {
    border-radius: 30px;
    transform: translatey(-30px);
    opacity: 1;
  }
  100% {
    border-radius: 75px;
    transform: translate(-15px, -10px) rotate(360deg) scale(2);
  }
}
nav {
  overflow: hidden;
  background-color: rgba(163, 90, 53, 0.2509803922);
}

/* estilos de los link de la barra de menú */
nav a {
  float: right;
  color: #f2f2f2;
  text-shadow: 0 0 5px black;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}

/* estilo del fondo de la barra de menus */
nav a:hover {
  background-color: rgba(240, 138, 13, 0.121);
  color: rgba(0, 0, 0, 0.523);
  text-shadow: 0 0 2px black;
}

.blog {
  padding: 10px;
  height: auto;
  background-color: rgba(128, 128, 128, 0.169);
  display: grid;
  grid-template-columns: 1fr;
  grid-row: repeat(3, auto);
  grid-gap: 5px;
}

.boxb h2 {
  background-color: rgba(0, 0, 0, 0.575);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #000;
  transition: all 0.9s;
}

.boxb h5 {
  text-align: left;
  margin-left: 50px;
}

.boxb p {
  background-position: center;
  text-align: left;
  color: #000000;
  text-shadow: 0 0 3px rgba(254, 253, 253, 0.4196078431);
  transition: all 0.9s;
}

a {
  background-position: center;
}

@media screen and (max-width: 40px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/* Generando resposividad */
@media only screen and (min-width: 768px) {
  .blog {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .boxb1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .boxb2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .boxb3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
/* formato del contacto */
.contacto {
  padding: none;
  grid-gap: 200px;
}

/* formato general de cada seccion item */
.boxc {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

form {
  width: 100%;
  background-color: rgb(0, 128, 47);
  background-image: linear-gradient(rgba(68, 120, 68, 0.507), rgba(163, 163, 69, 0.574)), url(../../multimedia/mujeradieamarillo.jpg);
  background-position: center;
  background-size: cover;
  padding: 25px;
}

form input {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
}

form input::-moz-placeholder {
  color: rgb(250, 250, 248);
  text-shadow: 0 0 3px #000;
}

form input::placeholder {
  color: rgb(250, 250, 248);
  text-shadow: 0 0 3px #000;
}

form textarea {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
}

form textarea::-moz-placeholder {
  color: rgb(251, 251, 251);
}

form textarea::placeholder {
  color: rgb(251, 251, 251);
}

form #enviar {
  width: 45%;
  background-color: rgba(163, 90, 53, 0.3490196078);
  font-size: 25px;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.206);
  padding: 10px;
}

/* Generando resposividad  */
@media screen and (max-width: 40px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 320px) {
  .contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 200px;
  }
  .boxc1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.eventos {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: repeat(3, auto);
  padding: 5px;
  grid-gap: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-size: 20px;
}

h3 {
  background-color: rgba(0, 128, 0, 0.258);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

#adopciones {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.box2 {
  background-color: rgba(128, 128, 128, 0.194);
  text-align: left;
  border: none;
}

.box2 p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  color: #000;
  text-shadow: none;
}

.box3 {
  background-image: url(../../multimedia/mujerperro.jpg);
  border: none;
}

.box3 p {
  text-align: left;
  background-color: rgba(128, 128, 128, 0.371);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  color: #fcfcfc;
  text-shadow: 0 0 5px #000;
}

/* Generando resposividad  */
@media only screen and (min-width: 780px) {
  .eventos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .box1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .box2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .box3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.inicio {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: repeat(4, 200px);
  grid-gap: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.caja {
  font-size: 30px;
}

.caja2 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

iframe {
  height: 100%;
  width: 100%;
}

.caja3 h4 {
  background-color: rgba(32, 139, 103, 0.4156862745);
  margin: 5px;
  padding-left: 15px;
  color: #ffffff;
  text-shadow: 0 0 5px #0a0a0a;
  text-align: left;
}

.caja3 p {
  text-align: left;
  background-color: rgba(128, 128, 128, 0.285);
  margin: 5px;
  padding: 18px;
  color: #070000;
  font-size: 20px;
  text-align: left;
}

/* Generando resposividad  */
@media screen and (max-width: 320px) {
  nav a {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 780px) {
  .inicio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .caja1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .caja2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .caja3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.galeria {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: repeat(4, 200px);
  padding: 10px;
  grid-gap: 10px;
}

.item {
  background-color: rgba(83, 117, 115, 0.0117647059);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-size: 30px;
}

#estetica {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#hotel {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item4 {
  background-color: rgba(214, 165, 32, 0.543);
}

.item4 p {
  padding-left: 40px;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #000;
  text-shadow: none;
}

/* Generando resposividad  */
@media screen and (max-width: 40px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}
@media only screen and (min-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 2/5;
  }
  .item4 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}/*# sourceMappingURL=formato.css.map */