
@import '../scss/componentes/barnav.scss';
@import '../scss/componentes/header.scss';
@import '../scss/base/fuentes.scss';
@import '../scss/componentes/footer.scss';
@import '../scss/base/responsive.scss';


/* formato de la galeria de servicios usando disply grids */
.galeria{
    height: auto;
    background-color: #aaa;
    display: grid; 
    grid-template-columns: 1fr;
    grid-row: repeat(8, 200px);
    padding: 10px;
    grid-gap: 10px
}

/* formato general de cada seccion item */
.item{
    border: 5px solid rgba(83, 81, 80, 0.74);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow:0 0 5px #000;
    font-size: 30px;
    transition: all 0.9s;
}
.item:hover{ 
    transform: scale(0.9);
}

/* enlaces de cada imagen de galeria de servicios */
.item1{
    background-image: url(multimedia/evento1.jpg);
}
.item2{
    background-image: url(multimedia/evento2.jpg);
}
.item3{
    background-image: url(multimedia/evento3.jpg);
}
.item4{
    background-image: url(multimedia/evento4.png);
}
.item5{
    background-image: url(multimedia/evento5.jpg);
}
.item6{
    background-image: url(multimedia/evento6.jpg);
}
.item7{
    background-image: url(multimedia/evento7.webp);
}
.item8{
    background-image: url(multimedia/evento8.jpg);
}

/* creacion de dos columnas una al lado de la otra */
.leftcolumn {
    float: left;
    width: 70%;
}

.rightcolumn {
    float: left;
    width: 30%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* apartado de formato para las imagenes falsas q me ayudan a dar formato */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* agregando efectos a las secciones que se llamaron -card- */
.card {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

/* dando formato a mis filas de la pagina principal */
.row::after {
    content: "";
    display: table;
    clear: both;
}


