*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

// link de carpeta componentes
@import '../scss/componentes/header.scss';
@import '../scss/componentes/barnav.scss';
@import '../scss/componentes/footer.scss';

// links de carpeta base
@import '../scss/base/fuentes.scss';
@import '../scss/base/colors.scss';

// link de carpeta estilos paginas
@import '../scss/stylespages/blog.scss';
@import '../scss/stylespages/contacto.scss';
@import '../scss/stylespages/eventos.scss';
@import'../scss/stylespages/inicio.scss';
@import '../scss/stylespages/servicios.scss';





// /* formato de pag inicio de servicios usando disply grids */
.inicio{
    height: auto;
    background-color: #a02b2b;
    display: grid; 
    grid-template-columns: 1fr;
    grid-row: repeat(8, 200px);
    padding: 10px;
    grid-gap: 10px
}

// /* formato general de cada seccion item */
.caja{
    border: 5px solid rgba(83, 81, 80, 0.74);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow:0 0 5px #000;
    font-size: 30px;
    transition: all 0.9s;
}
.caja:hover{ 
    transform: scale(0.9);
}

/* enlaces de cada imagen de galeria de servicios */
.caja1{
    background-image: url(multimedia/evento1.jpg);
}
.caja2{
    background-image: url(multimedia/evento2.jpg);
}
.icaja3{
    background-image: url(multimedia/evento3.jpg);
}
.caja4{
    background-image: url(multimedia/evento4.png);
}
.caja5{
    background-image: url(multimedia/evento5.jpg);
}
.caja6{
    background-image: url(multimedia/evento6.jpg);
}




