// inicia formato servicios--------------------

// /* formato de la galeria  */
.galeria {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(4, 200px);
    padding: 10px;
    grid-gap: 10px
}

// /* formato general de contendor */
.item {
    // border: 1px solid rgba(90, 89, 89, 0.74);
    background-color: #53757303;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 30px;
}

#estetica{
    width:100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#hotel{
    width:100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.item4{
    background-color: rgba(214, 165, 32, 0.543);
}
.item4 p{
    padding-left: 40px;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #000;
    text-shadow: none;
}
/* Generando resposividad  */
@media screen and (max-width: 40px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

@media only screen and (min-width:480px) {
    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}

@media only screen and (min-width:768px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }
    .item1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .item2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3 {
        grid-column: 3/4;
        grid-row: 2/5;
    }
    .item4 {
        grid-column: 1/3;
        grid-row: 3/5;
    }
}
